%p{'x-ng-show'=>'currentUser && !currentUser.is_admin'}
  Перейти к 
  %a.button{'x-ng-href'=>'/carts/edit'}
    текущему заказу
%form{'novalidate'=>''}
  %fieldset
    %legend
      %b{'x-ng-hide'=>'reset_mode'}
        Список заказов
      %span{style: 'padding-left: 15px;', 'x-ng-show'=>'currentUser.is_admin'}
        Статус:
        %select{style: 'width: auto;', 'x-ng-model'=>'current_status', 'x-ng-options'=>'st as st.name for st in statuses', 'x-ng-change'=>'applyFilter()'}
    %table{style:'width: 100%;', 'x-ng-form'=>'cartForm'}
      %tr
        %td{style:'width: 65%; vertical-align: middle;'}
          %p{'x-ng-hide'=>'cart_list.length > 0'}
            Корзина пуста.
          %table.cart{'x-ng-show'=>'cart_list.length > 0'}
            %tr
              %td №
              %td Статус заказа
              %td Дата создания
              %td Сумма, руб.
              -# todo: ... add filter
            %tr.positions{'x-ng-repeat'=>'cart in selected_carts | orderBy:"confirmation_date":true ' }
              %td
                %a{'x-ng-href'=>'carts/view/{{cart.id}}'}
                  %b
                    {{cart.id}}
              %td
                {{cart.status_name}}
              %td
                {{cart.confirmation_date | date:'dd.MM.yyyy г. (HH:mm)'}}
              %td
                {{cart.total_price | currency:"":2}}
