%p{'x-ng-show'=>'currentUser && !currentUser.is_admin'}
  Перейти к 
  %a.button{'x-ng-href'=>'/carts/edit'}
    текущему заказу
%form{'novalidate'=>''}
  %fieldset
    %legend
      %b{'x-ng-hide'=>'reset_mode'}
        Список заказов
    %table{style:'width: 100%;', 'x-ng-form'=>'cartForm'}
      %tr
        %td{style:'width: 65%; vertical-align: middle;'}
          %p{'x-ng-hide'=>'cart_list.length > 0'}
            Корзина пуста.
          -#%table.in_form{'x-ng-show'=>'cart_list.length > 0'}
          -#  %tr.positions{'x-ng-repeat'=>'pos in actual_cart.positions'}
          -#    %td
          %table.cart{'x-ng-show'=>'cart_list.length > 0'}
            %tr
              %td Статус заказа
              %td Дата создания
              %td Сумма, руб.
            %tr.positions{'x-ng-repeat'=>'cart in cart_list | orderBy:"confirmation_date":true'}
              %td
                %a{'x-ng-href'=>'carts/view/{{cart.id}}'}
                  {{cart.status_name}}
              %td
                {{cart.confirmation_date | date:'dd.MM.yyyy г. (HH:mm)'}}
              %td
                {{cart.total_price | currency:"":2}}

    -#.descr_block
    -#  %p{'x-ng-hide'=>'reset_mode'}
    -#    После регистрации (при желании) вы сможете прикрепить ваш аккаунт любой из перечисленных сверху социальных сетей к
    -#    аккаунту на нашем сайте. После этого будет достаточно шёлкнуть по значку вашей социальной сети, и зайти в нашу систему
    -#    без необходимости вводить email и пароль, в случае если вы уже авторизированы в своей социальной сети.
