%p
  Перейти ко
  %a.button{'x-ng-href'=>'/carts'}
    всем заказам
%form{'novalidate'=>''}
  %fieldset
    %legend
      %b{'x-ng-hide'=>'reset_mode'}
        Текущий заказ
    %table{style:'width: 100%;', 'x-ng-form'=>'cartForm'}
      %tr
        %td{style:'vertical-align: middle;'}
          %table
            %tr
              %td{style:'padding-left: 10px;'}
                Заказчик:
                %b
                  {{client.full_name}}
                %br
                моб тел:
                %b
                  {{client.mobile}}
                %br
                Выбранная зона доставки:
                %b
                  {{cart.zone.name}}
                %br
                Cтоимость доставки:
                %b
                  {{cart.delivery_price | currency:'':2}} руб.
                %br
                Адрес доставки:
                %b
                  {{client.address}}
            %tr
              %table.cart{'x-ng-show'=>'cart.positions.length > 0'}
                %tr
                  %td Товар
                  %td Кол-во
                  %td Цена, руб.
                  %td Сумма, руб.
                %tr.positions{'x-ng-repeat'=>'pos in cart.positions'}
                  %td
                    %a{'x-ng-href'=>'/products/{{pos.prod.id}}#glob'}
                      {{pos.prod.name}}
                  %td
                    {{pos.count}}
                  %td
                    .errblock
                      %span{'x-ng-show'=>'(cartForm.count_{{$index}}.$error.required || pos.count <= 0) && (cartForm.count_{{$index}}.$touched || showErrors)'}
                        необходимо заполнить
                  %td
                    {{pos.prod.price | currency:"":2}}
                  %td
                    %b
                      {{pos.sum | currency:"":2}}
                %tr
                  %td{colspan:3}
                    %b
                      Всего к оплате (влючая доставку):
                  %td.total_sum
                    %b
                      {{cart.total_price | currency:"":2}}

