$primary-color: #736d69;
$buttonColor: coral;
$buttonBorder: indianred;

@mixin gradient($startColor, $endColor) {
  background: -moz-linear-gradient(top, $startColor, $endColor);
  background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
  background: -webkit-linear-gradient(top, $startColor, $endColor);
  background: -o-linear-gradient(top, $startColor, $endColor);
  background: -ms-linear-gradient(top, $startColor, $endColor);
}

@mixin b-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

body {
    background-color: #f7f5f6;
    background-image: asset-data-url('bg.jpg');
    background-position: top center;
    background-attachment: fixed;
    font-family: arial, verdana, tahoma, helvetica, sans-serif;
    font-size: 11px;
    color: $primary-color;
    margin: 0px 0px 0px 0px;
    font-weight: normal;
}

.global{
    background-color: #cec6c0;
    width: 770px;
    margin: 30px auto;
    text-align:left;

    /*padding:15px;*/
    /*border:2px solid deepskyblue;*/
}

td {
  vertical-align: top;
}

.head_panel{
    text-align: center;
    margin:0px;
    background-color: #dfc9c0;
    width: 100%;
    /*padding:15px;*/
}

.head_panel a {
    color: #736d69;
    font-weight: bold;
}

.head_panel a:hover {
    background-color: bisque;
}

.head_panel table {
    width: 100%;
    text-align: center;
}

.login {
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}

.left_side_bar{
    color: aliceblue;
    text-align: left;
    float: left;
    width: 180px;
}

.left_side_bar li {
    padding: 8px;
    border: 2px solid #2d0f1e;
    font-weight: bold;
    margin: 0 10 10 0;

}

ul {
    width: 150px;
}

.left_side_bar li {
    border: none;
}

.tdBox
{
    width: 100%;
    height: 30px;
}
.tdBox a
{
    width: 100%;
    height: 100%;
    display: block;
}

.side_bar {
    min-width: 190px;
}

.side_bar a{
    color: deepskyblue;
}

.global_table{
    margin: 110px auto;
    width: auto;
}



.td_sep {
    width: 20px;
}

.row_label {
    text-align: right;
    padding-top: 5px;
    width: 25%;
}

.in_form, .form_description{

}

.in_form{
    width: 100%;
    margin-bottom: 15px;
}

table.in_form td.input input,
table.in_form td.input select {
    width: 75%;
}

.form_description textarea,
table.in_form input,
table.in_form select {
    border-width: 2px;
    background-color: #eef;
    padding: 5px;
    border-radius: 8px;
    border-style: ridge;
}

button.input_buttons {
    margin: 2px;
    width: 23px;
}

.form_description textarea:focus,
table.in_form input:focus,
table.in_form select:focus {
    background-color: #efe;;
    border-color: deepskyblue;
    padding: 5px;
    border-radius: 8px;
    border-style: ridge;
    outline: 0;
}

table.in_form tr {
    height: 45px;
}

.form_description, .form_description textarea {
    width: 100%;
}

.form_description textarea {
    height: 150px;
    width: 100%;
    margin: 10px 0px;
    resize: vertical;
}

.button_section {
    text-align: center;
}

.head_button {
  color: $buttonBorder;
  font-weight: bold;
  border: 1px solid $buttonColor;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 130px;
  margin: 10 0;

  @include b-radius(8);
  @include gradient(#cccccc, #ffbb99);
}
.head_button:hover {
  @include gradient(#ffccaa, #dddddd);
  color: $buttonBorder;
}

.button {
  color: $buttonBorder;
  border: 1px solid $buttonColor;
  padding: 3px;
  text-align: center;
  @include b-radius(5);
  text-decoration: none;
  margin: 5px;
  cursor: pointer;

  background: #ccffee;
  @include gradient(#cccccc, #ffbb99);
}

.button:focus{
    outline: 0;
}

.button:hover {
  @include gradient(#ffccaa, #dddddd);
}

.product_table {
    width: 100%;
}

.product_table p {
    text-indent: 0px;
}

.center p {
    text-indent: 20px;
}

.center h1 {
    margin-left: 240px;
    text-indent: 20px;
    color: #843672;
}

.center img {
    margin: 0px 10px 10px 0px;
}

.product_header {
    width: 100%;
    border-bottom: 1px solid deepskyblue;
    margin-bottom: 10px;
}

.global a {

}

.assortment {
    width: 150px;
    padding: 15px;
}

.main {
    padding: 10px;
}

.assortment a{
  color: #736d69;
}

.assortment a:hover {
  color: #938d00;
}

.assortment h3{
  margin-bottom: 0px;
}

.assortment ul{
  margin-top: 0px;
}

.pr_list_block {
  width: 120px;
  height: 200px;
  margin: 5 5 5 5;
  padding: 0px;
  float: left;

}

.pr_list_block h5 {
  margin: 0px 0px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pr_list_block img {
  background-color: grey;
  width: 120px;
  background-image: asset-data-url('no_photo.jpg');
}

.pr_list_block a {
  color: #736d69;
}

.pr_list_block a:hover {
  color: #938d00;
}
