%table.product_table{'x-ng-controller'=>'ProductsListController', style:'border-collapse: collapse;'}
  %tr{style: 'height: 36px;', 'x-ng-show'=>'currentUser && currentUser.is_admin'}
    %td
      %a.button{href: new_product_path+'{{$parent.paramsPart}}'}
        Добавить товар
  %tr.product_row
    %td
      .pr_list_block{'x-ng-repeat'=>'product in products | onlySelected:$parent.selectedFirm:$parent.selectedCategory'}
        %a{'x-ng-href'=>'/products/{{product.id}}{{$parent.paramsPart}}#glob', style:'margin-right: 5px;'}
          %h5
            {{product.name}}
          %img{'x-ng-src'=>image_path('no_photo.jpg'), 'x-ng-hide'=>'product.image'}
          %img{'x-ng-show'=>'product.image', 'x-ng-src'=>'{{product.image}}'}
