.show
  %p{style: 'text-align: center;'}
    %a.button{'x-ng-click'=>'back()'}
      << Назад
    -if admin?
      %a.button{'x-ng-href'=>'/products/{{product.id}}/edit', style:'margin-right: 5px;'}
        Править
      %a.button{'x-ng-href'=>'#', 'x-ng-click'=>'delete(product.id)'}
        Удалить

  .img_block
    %img{'x-ng-src'=>image_path('no_photo.jpg'), 'x-ng-hide'=>'product.image'}
    %img{'x-ng-show'=>'product.image', 'x-ng-src'=>'{{product.image}}'}
  .descr_block
    %h3
      {{product.name}}
    %div{'x-ng-bind-html'=>'htmlSafe(product.description)'}

    %p.price
      Цена: {{product.price}} руб.
      %br
      %br
      %a.button{'x-ng-click'=>'addToCart()'}
        Добавить в корзину

