%script
  if(typeof(angular) == 'undefined')
  {window.location.href='/';
  localStorage.setItem('pathname',window.location.pathname);
  localStorage.setItem('search',window.location.search.slice(1));
  }
= yield